<h1>Making Devs Developers</h1>
<h2> Welcome!! </h2>
<ul>
<%= for %{gender: "Polygender" = gender, id: id, first_name: first_name, last_name: last_name} <- developers do %>
<li><%= id %> <%= first_name %> <%= last_name %> <%= gender %><li>
<% end %>
</ul>
